.content {
  background-color: rgba(7, 5, 5, 0.582) !important;
}
.card-items {
  padding: 5px;
  margin: 5px 0px;
}
.input {
  padding: 20px 0px;
}

button {
  padding: 5px;
  width: 200px;
  max-width: 200px;
  margin-top: 15px;
}
