<p-tabView (onChange)="buscarProdutosPromocaoOnChangeTab($event)">
  <p-tabPanel header="Produtos Pareados">
    <p-card class="content p-nogutter">
      <div class="p-col-8 input">
        <p-autoComplete
          class="produtosPareados"
          #inputAutoComplete
          (completeMethod)="filtroProdutosPromocao($event)"
          [size]="60"
          delay="200"
          minLength="3"
          field="nome"
          placeholder="Busque um produto"
          (onBlur)="restoreProdutosPromocao()"
        >
        </p-autoComplete>
      </div>
      <div class="p-col-12">
        <p-dataView #produtosEnviadosTabPanel
          paginatorPosition="both" 
          [totalRecords]="totalRecords"
          [pageLinks]="totalPages"
          [paginator]="true"
          [rows]="rowsPerPage"
          [value]="produtosPromocaoFilter"
        >
          <p-header class="p-grid p-justify-center">
            <div class="p-col-1 text-center">Codigo</div>
            <div class="p-col-2 text-center">Nome</div>
            <div class="p-col-1 text-center">Qtd Atual</div>
            <div class="p-col-1 text-center">Valor</div>
            <div class="p-col-2 text-center">Valor Promoção</div>
            <div class="p-col-2 text-center">Vigência Promoção</div>
            <div class="p-col-1 text-center">Ativo</div>
            <div class="p-col-1 text-center">Sincronizado</div>
            <div class="p-col-1 text-center">Ações</div>
          </p-header>

          <ng-template let-produto pTemplate="listItem">
            <p-card class="p-col-12 p-nogutter">
              <div class="p-grid p-justify-around p-align-baseline">
                <div class="p-col-1 text-center">
                  {{ produto.idIdentificador }}
                </div>
                <div class="p-col-2 text-center">
                  {{ produto.nome }}
                </div>
                <div class="p-col-1 text-center">
                  {{ produto.qtAtual }}
                </div>
                <div class="p-col-1 text-center">
                  {{ produto.valor | currencyCustom }}
                </div>
                <div class="p-col-2 text-center">
                  {{ produto.vlPromocao | currencyCustom }}
                </div>
                <div *ngIf="produto.dtInicio && produto.dtFim; else semInfo" class="p-col-2 text-center">
                  de {{ produto.dtInicio | date: "dd/MM/yyyy" }}<br />
                  hà {{ produto.dtFim | date: "dd/MM/yyyy" }}
                </div>
                
                <ng-template #semInfo>
                  <div class="p-col-2 text-center">
                    Indeterminado.
                  </div>
                </ng-template>

                <div class="p-col-1 text-center">
                  {{ produto.ativo ? "Sim" : "Não" }}
                </div>

                <div class="p-col-1 text-center">
                  <i *ngIf="produto.log; else syncOk" 
                    class="pi pi-exclamation-circle"
                    pTooltip="{{produto.log}}">
                  </i>
                  <ng-template #syncOk>
                    <i
                      class="pi pi-check"
                      pTooltip="Produto sincronizado">
                    </i>
                  </ng-template>
                </div>
                
                <div class="p-col-1 text-center">
                  <i 
                    class="pi pi-sort-alt" 
                    pTooltip="Sincronizar produto"
                    (click)=syncProduto(produto.id)>
                  </i>
                </div>
              </div>
            </p-card>
          </ng-template>
        </p-dataView>
      </div>
    </p-card>
  </p-tabPanel>
  <p-tabPanel header="Meu Sistema">
    <p-card class="content">
      <div class="p-col-8 input">
        <p-autoComplete
          class="produtosBuscar"
          (completeMethod)="buscarProdutos($event)"
          [size]="60"
          delay="400"
          minLength="3"
          field="nome"
          placeholder="Busque produtos para enviar"
        >
        </p-autoComplete>
      </div>
      <div class="p-col-12">
        <p-dataView [paginator]="true" [rows]="10" [value]="produtos">
          <p-header class="p-grid p-justify-center">
            <div class="p-col-1 text-center">Codigo</div>
            <div class="p-col-2 text-center">Nome</div>
            <div class="p-col-1 text-center">Qtd Atual</div>
            <div class="p-col-1 text-center">Valor</div>
            <div class="p-col-2 text-center">Valor Promoção</div>
            <div class="p-col-2 text-center">Vigência Promoção</div>
            <div class="p-col-1 text-center">Ativo</div>
            <div class="p-col-1 text-center">Setor</div>
            <div class="p-col-1 text-center">Ativar?</div>
          </p-header>

          <ng-template let-produto pTemplate="listItem">
            <p-card class="p-col-12 p-nogutter">
              <div class="p-grid p-justify-around p-align-baseline">
                <div class="p-col-1 text-center">
                  {{ produto.idIdentificador }}
                </div>
                <div class="p-col-2 text-center">
                  {{ produto.nome }}
                </div>
                <div class="p-col-1 text-center">
                  {{ produto.qtAtual }}
                </div>
                <div class="p-col-1 text-center">
                  {{ produto.valor | currencyCustom }}
                </div>
                <div class="p-col-2 text-center">
                  {{ produto.vlPromocao | currencyCustom }}
                </div>
                <div *ngIf="produto.dtInicio && produto.dtFim; else semInfo" class="p-col-2 text-center">
                  de {{ produto.dtInicio | date: "dd/MM/yyyy" }}<br />
                  hà {{ produto.dtFim | date: "dd/MM/yyyy" }}
                </div>
                
                <ng-template #semInfo>
                  <div class="p-col-2 text-center">
                    Indeterminado.
                  </div>
                </ng-template>
                <div class="p-col-1 text-center">
                  {{ produto.ativo ? "Sim" : "Não" }}
                </div>
                <p-dropdown 
                  placeholder="Selecione um Setor" 
                  class="p-col-1 text-center" 
                  [options]="setores" 
                  [(ngModel)]="produto.setor">
                </p-dropdown>
                <div class="p-col-1 text-center">
                  <p-toggleButton
                    onLabel="Sim"
                    offLabel="Não"
                    [(ngModel)]="produto.selecionado"
                  ></p-toggleButton>
                </div>
              </div>
            </p-card>
          </ng-template>
        </p-dataView>
      </div>
      <button
        pButton
        [disabled]="produtos.length === 0"
        label="Enviar"
        (click)="enviarProdutos()"
      ></button>
    </p-card>
  </p-tabPanel>
  <p-tabPanel header="Configurações">
    <p-card class="p-col-12">
      <div [formGroup]="formConfig">
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4"> Sincronização em minutos</label>
          <p-inputNumber min="1"
            class="p-col-4 p-sm-6"
            required
            formControlName="tempoScan">
          </p-inputNumber>
        </div>
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Token</label>
            <input
              class="p-col-4 p-sm-6"
              type="text"
              size="30"
              pInputText
              required
              formControlName="token"
            />
        </div>
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Url integração</label>
            <input
              class="p-col-4 p-sm-6"
              type="text"
              size="30"
              pInputText
              required
              formControlName="urlIntegracao"
            />
        </div>
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Sistema Cliente</label>
            <p-dropdown
              [options]="sistemaOptionsDropDow"
              placeholder="Selecione um sistema"
              class="p-col-4 p-sm-6"
              required="true"
              formControlName="sistema"
            >
          </p-dropdown>
        </div>
        <button
          pButton
          type="button"
          [disabled]="!formConfig.valid"
          class="p-col-2"
          label="Salvar"
          (click)="salvarConfig()">
        </button>
      </div>
    </p-card>
  </p-tabPanel>
  <p-tabPanel header="Usuário">
    <p-card class="p-col-12">
      <div [formGroup]="formUsuario">
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Usuário</label>
            <input
              class="p-col-4 p-sm-6"
              required
              type="text"
              size="30"
              pInputText
              formControlName="username"
            />
        </div>
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Senha Atual</label>
            <input
              class="p-col-4 p-sm-6"
              required
              type="password"
              size="30"
              pInputText
              formControlName="password"
            />
        </div>
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Nova senha</label>
            <input
              class="p-col-4 p-sm-6"
              required
              type="password"
              size="30"
              pInputText
              formControlName="newPassword"
            />
        </div>
        <div class="p-grid p-col-6">
          <label class="p-col-2 p-sm-4">Repita a nova senha</label>
            <input
              class="p-col-4 p-sm-6"
              required
              type="password"
              size="30"
              pInputText
              formControlName="repeat"
            />
        </div>
        <button
            pButton
            type="button"
            [disabled]="!formUsuario.valid"
            class="p-col-2"
            label="Salvar"
            (click)="salvarConfigUsuario()">
          </button>
        </div>
    </p-card>
  </p-tabPanel>
</p-tabView>
