.content {
  background-color: rgba(7, 5, 5, 0.582) !important;
}
.card-items {
  padding: 5px;
  margin: 5px 0px;
}
.input {
  padding: 20px 0px;
}

button {
  padding: 5px;
  width: 200px;
  max-width: 200px;
  margin-top: 15px;
}

i.log {
  cursor: pointer;
}

.log-show {
    display: block;
    position: absolute;
    background-color: rgb(247, 206, 206);
    width: 150px;
    z-index: 1000;
  }

.log-hide {
  display: none;
}

.pi-sort-alt {
  cursor: pointer;
}

.ui-autocomplete i {
  display: none !important;
}